<ul>
[% FOREACH dist IN dists %]
<li><a href="[% dist.author_id | lower %]/[% dist.id %]-[% dist.version %]">[% dist.id %] [% dist.version %]</a> (最新：<a href="http://search.cpan.org/dist/[% dist.id %]">[% dist.latest_version %]</a>)</li>
[% END %]
</ul>